.sidebarChat {
    display: flex;
    cursor: pointer;
    padding: 20px;
    border-bottom: 2px solid #f6f6f6;
}
.sidebarChat:hover {
    background-color: #88e2de;
}

.sidebarChat__info {
    margin-left: 18px;
}

.sidebarChat__info > h2 {
    margin-bottom: 8px;
    font-size: 15px;
}