.app {
  display: grid;
  place-items: center;
  height:100vh;
  background: radial-gradient( #8fe1ff, #0f0130);
}
.app__bodyspace {
  display: flex;
  background-color: aliceblue;
  height: 90vh;
  width: 90vw;
  margin-top: -50px;
  
}